body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

form input, form button {
    padding: 10px;
    margin: 5px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
/* Styles pour la navbar */
nav {
    background-color: #333;
    padding: 10px 0;
}

.navbar-links {
    display: flex;
    justify-content: center;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 20px;
}

.navbar-links a:hover {
    text-decoration: underline;
}
